.profile-container {
  margin: 0 auto;
  padding-top: 16px;
  width: 240px;
  text-align: center;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
}

.profile-start {
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  border: 1px solid rgb(199, 198, 198);
  height: 200px;
  width: 200px;
}

.profile-user {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 0;
}
.profile-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.profile-item {
  width: 80px;
  border: 1px solid rgb(199, 198, 198);
  border-right: none;
  background-color: rgb(244, 240, 240);
  display: flex;
  flex-direction: column;
}

.profile-item:last-child {
  border-right: 1px solid rgb(199, 198, 198);
}
